body {
  /* background-color: rgb(63, 60, 60); */
  background-color: rgb(218, 216, 216);
}
#header {
  background-color: rgb(255, 255, 253);
  /* width: 100%; */
  vertical-align: middle;
  height: 80px;
  line-height: 80px;
  padding-left: 30px;
  /* font-size: 30px; */
  font-weight: bold;
}
#header p {
  /* font-size: 1.5rem; */
  font-size: 3vh;
}
#canvas_wrapper {
  width: 80%;
  height: 50%;
  /* background-color: beige; */
  padding-top: 60px;
}
.myChart {
  vertical-align: middle;
}
